{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}{{ title }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

	<section class="main-section">

		<header class="major">
			<h2>{{ title }}</h2>
		</header>

		<form method="post" enctype="multipart/form-data" class="post-form">
			{% csrf_token %}
			{{ post_form.media }}
			{{ post_form|crispy }}
			<button type="submit" class="button primary large mt-3">Submit</button>
		</form>

	</section>

{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}