{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}{{ title }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

	<section class="account-main-section">

		<header class="major">
			<h2>{{ title }}</h2>
		</header>

		<form method="post" action="{% url 'blog:delete-post' slug=post.slug %}">
			<p>You're about to delete "{{ post.title }}"..</p>
			<p>Are you sure?</p>
			{% csrf_token %}
			<button type="submit" class="button">Confirm</button>
		</form>

	</section>

{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}