{% load static %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Guides for my future self,
				as well as for you.</h1>
			<p>A collection of coding tutorials</p>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dui tortor, 
			bibendum eu ipsum ut, vulputate rhoncus mi. Maecenas eleifend est eu porta efficitur. 
			Nam suscipit, purus id finibus pretium, nibh risus sollicitudin lectus, eu accumsan 
			eros eros bibendum neque. Phasellus sed augue nec magna fringilla porta. Sed rutrum 
			egestas erat nec tincidunt. Donec imperdiet dictum mi ac sodales. Cras vestibulum congue 
			justo id interdum. Etiam aliquam aliquet interdum. Nulla vel magna metus.
		</p>
		<ul class="actions">
			{% if not user.is_authenticated %}
				<li><a href="{% url 'account_login' %}" class="button big">Login</a></li>
			{% else %}
				<li><a href="{% url 'users:detail' email=request.user.email %}" class="button big">Bookmarks</a></li>
			{% endif %}
		</ul>
	</div>
	<span class="image object">
		<img src="{% static "images/computer-in-the-dark.jpg" %}" alt="" />
		<small>Image credit: Ales Nesetril <a href="https://unsplash.com/@alesnesetril">@alesnesetril</a> on unsplash</small>
	</span>
</section>
