{% load static %}
<!-- Header -->
<header id="header">
	<a href="{% url 'blog:home' %}" class="logo"><strong>DjangoImposter</strong></a>
	<ul class="icons">
		<li class="list-inline-item"><a href="http://www.reddit.com/submit?url=https://www.djangoimposter.com/&title=Check%20Out%20DjangoImposter"><i class="fab fa-reddit fa-fw share-icons"></i></a></li>
	    <li class="list-inline-item"><a href="https://twitter.com/share?url=https://djangoimposter.com&amp;text=Check%20Out%20DjangoImposter&amp;hashtags=django,python"><i class="fab fa-twitter fa-fw share-icons"></i></a></li>
	    <li class="list-inline-item"><a href="http://news.ycombinator.com/submitlink?u=https://www.djangoimposter.com/&t=Check%20Out%20DjangoImposter"><i class="fab fa-y-combinator fa-fw share-icons"></i></a></li>
	    <li class="list-inline-item"><a href="http://www.facebook.com/sharer.php?u=https://djangoimposter.com/"><i class="fab fa-facebook fa-fw share-icons"></i></a></li>
	</ul>
</header>