{% load static %}
<!-- Section -->
<section>
	<header class="major">
		<h2>Main Focus</h2>
		</section>
	</header>
	<div class="features">
		<article>
			<span class="icon icon-wrap"><i class="fab fa-python home-icons"></i></span>
			<div class="content">
				<h3>Python</h3>
				<p>Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant whitespace. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.</p>
			</div>
		</article>
		<article>
			<span class="icon icon-wrap"><i class="fab fa-docker home-icons"></i></span>
			<div class="content">
				<h3>Docker</h3>
				<p>Docker is a set of platform as a service (PaaS) products that use OS-level virtualization to deliver software in packages called containers. Containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels.</p>
			</div>
		</article>
		<article>
			<span class="icon icon-wrap"><i class="fab fa-linux home-icons"></i></span>
			<div class="content">
				<h3>Linux</h3>
				<p>Linux (/ˈlinʊks/ LEEN-uuks or /ˈlɪnʊks/ LIN-uuks) is a family of open-source Unix-like operating systems based on the Linux kernel, an operating system kernel first released on September 17, 1991, by Linus Torvalds. Linux is typically packaged in a Linux distribution. Popular Linux distributions include Debian, Fedora, and Ubuntu.</p>
			</div>
		</article>
		<article>
			<span class="icon icon-wrap"><i class="fab fa-bootstrap home-icons"></i></span>
			<div class="content">
				<h3>Bootstrap</h3>
				<p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components. Bootstrap is the ninth-most-starred project on GitHub, with more than 146,000 stars.</p>
			</div>
		</article>
	</div>
</section>