<!-- Pagination -->
<nav class="paginator-nav">
  <ul class="paginator-nav-list">
    {% if posts.has_previous %}
      <li><a href="?{% if query %}q={{ query }}&{% endif %}page=1"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></a></li>
      <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ posts.previous_page_number }}"> <i class="fa fa-angle-left"></i></a></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li><a class="paginator-current" href="#">{{ i }}</a></li>
      {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
        <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ posts.next_page_number }}"> <i class="fa fa-angle-right"></i></a></li>
      <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ posts.paginator.num_pages }}"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></li>
    {% endif %}
  </ul>
</nav>