{% extends "account/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

<!-- Section -->
<section class="account-main-section">

    <header class="major">
        <h1>{% trans "Change Password" %}</h1>
    </header>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button style="margin-top:40px;" class="button" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

</section>

{% endblock %}

