{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>djangoimposter</title>
</head>
<body>

<img src="{% static "images/pythonlogo.png" %}">

<h3>Thanks for signing up for the newsletter!</h3>

<p>{{email}} will receive an email once a week with awesome tutorials aimed at beginners.</p>

<p>Please click <a href="https://www.djangoimposter.com/newsletter/confirm/{{slug}}">HERE</a> to confirm the subscription or to opt out anytime.</p>

<p>If the above link doesn't work please visit https://www.djangoimposter.com/newsletter/confirm/{{slug}} by copy/pasting the link into your browser.</p>

</body>
</html>
